body{
    background-color:darkturquoise;
    color: blueviolet;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    text-align:center;
}
header{
    text-align:center;
}
a {
    color:brown;
    text-align: none;
}
a:hover{
    color:beige;
}