<nav>
  <a href="https://webpages.uncc.edu/gjohns80/">Charlotte.edu</a>
  ||
  <a href="https://github.com/gabrieljjohnson/gabrieljjohnson.github.io">Github</a>
  ||
  <a href="https://gabrieljjohnson.github.io/itis3135">Github.io</a>
  ||
  <a href="https://www.freecodecamp.org/gjohns80">freeCodeCamp</a>
  ||
  <a href="https://www.codecademy.com/profiles/gjohns80">Codecademy</a>
  <a href="https://www.linkedin.com/in/gabriel-j-johnson">LinkedIn</a>
  <p>
    Page Built by <a href="jojounlimited.org/">JoJo Unlimited</a>&copy; 2025
  </p>
</nav>
