<h1>Gabriel Johnson's Gallant Jaguar || ITIS 3135</h1>
        <nav>
            <a href="./">Home</a>
            ||
            <a href="introduction.html">Introduction</a>
            ||
            <a href="contract.html">Contract</a>
        </nav>
        <nav>
            <a href="https://gabrieljjohnson.github.io/itis3135/jojounlimited.org/">JoJo Unlimited</a>
            || <a href="https://gabrieljjohnson.github.io/itis3135/gallantjaguar/">Mascot Company Site</a>
            || <a href="https://gabrieljjohnson.github.io/itis3135/stuff/ReallyBadNameHere.htm">CRAPPY</a> 
            || <a href="https://gabrieljjohnson.github.io/itis3135/website_evaluations.html/">Website Evaluations</a>
        </nav>